.App {
  text-align: center;
  background-color:#FADCD9  ;
  width: 100%;
  height:720px ;
  
}



.App-header {
  background-color:#FADCD9  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: "Licorice";
  src: local("Licorice"),
   url("./Fonts/Licorice/Licorice-Regular.ttf") format("truetype");
  
  }
